body{
    background-color: #b4b4b4;
    font-family: 'Rubik', sans-serif !important;
    height: 100%;
    margin: 0;
}

.flex{
    display: flex;
}

.banner{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../images/banner-borde-pizza.jpg') center left/cover no-repeat;
    width: 100vw;
    height: 60vh;
    border-bottom: 1px solid #000;
}

.banner h1{
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    font-size: 50px;
    text-align: center;
}

.banner p{
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 60px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

@media (max-width: 800px){
    .banner h1{
        font-size: 30px;
    }

    .banner p{
        font-size: 15px;
    }
}

@media (max-width: 470px){
    .banner h1{
        font-size: 20px;
    }

    .banner p{
        font-size: 10px;
    }
}